/*Reset Estilo básicos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos da Navbar*/
.navbar{
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.navbar-logo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item{
    height: 80px;
}

.navbar-links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar-links:hover{
    color: #f0f0f0;
    background-color: #555;
}

/* Estilos para o menu mobile */
.navbar-toggle{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* Media queries para responsividade */
@media screen and (max-width:768px) {
    .navbar-toggle{
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .navbar-menu{
        position: fixed;
        left: -100%;
        top:80px;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        height: calc(100vh - 80px);
        transition: all 0.5s ease;
    }

    .navbar-menu.active{
        left: 0;
    }

    .navbar-item{
        width: 100%;
    }

    .navbar-links{
        padding: 2rem;
        width: 100%;
        display: table;
    }
}